@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Countryside;
    src: url(assets/countryside.ttf);
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 20px;
        height: 10px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: rgba(0, 0, 0, 0.2);
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #cbe0d5;
        border-radius: 100vh;
        border: 1px solid rgba(255, 255, 255, 0.9);
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #a0c0ae;
    }

    .title-text {
        font-family: Countryside;
        color: rgba(255, 255, 255, 0.1);
    }
}

body {
    background-color: #343d46;
}

.slider-vertical {
    -webkit-appearance: slider-vertical;
}